body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #a8dadc;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
text-align: center;
background: #f1faee;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
margin-bottom: 20px;
}

#weatherInfo {
margin-bottom: 20px;
}

select {
margin-bottom: 20px;
border-radius: 0.5rem;
border:none;
outline:none;
background-color:#f1faee ;
}
